$font-stack:    "Open Sans", sans-serif;
$primary-color: #34495E;
$background-color: #F3F3F3;

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-stack;
  color: #040404;
  background-color: $background-color;
}

body h1{
  font-size: 3.6rem;
  font-family: $font-stack;
  color: #040404;
  text-align: center;
  padding: 20px;
}

a {
  color: #2e416a;
  text-decoration: none;
}


/*--------------------------------

Footer

 ---------------------------------*/
.footer {
  background: $primary-color;
  height: 50px; }

.footer .workdoneby{
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #F3F3F3;
  padding-top: 20px;
  padding-left: 35%;
  padding-right: 35%;
  font-size: 16px;
}


/*--------------------------------

Header

 ---------------------------------*/
.header{
  background: $primary-color;
  height: 70px;
}
.header-left-icon {
  float: left;
  width: 125px;
  text-align: right;
  margin: 2px 10px;
  display: inline;
}

.logo{
  height: 1.5cm;
  width: 1.5cm;
}
.header-right {
  float: right;
  text-align: left;
  margin: 2px 10px;
  display: inline
}

.header-login{
  vertical-align: middle;
  text-align: center;
  padding-right: 60px;
  padding-top: 20px;
}

.header-login .link{
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #F3F3F3;
}

.login-button{
  background-color: $primary-color;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding-right: 60px;
}

.createAccount-button{
  background-color: $primary-color;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding-right: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.modal-content{
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 350px;
  margin: 200px auto;
  padding: 20px;
  padding-top: 20px;
  background: #F7F7F7;
  border: 1px solid #888;
  border-radius: 12px;
}

.modal-content h1{
  background: $primary-color;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
  border-radius: 12px;
}


.modal-content input[type="date"],
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"],
.modal-content input[type="number"]
{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

#gender,
#type
{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  width: 100%;
  margin-bottom: 2%;
  padding: 2%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

.modal-content input[type="submit"],
.modal-content input[type="button"]{

  width: 100%;
  padding: 3%;
  background: $primary-color;
  color: #fff;
  font: 95% Arial, Helvetica, sans-serif;
  border-radius: 20px;
  margin-top: 20px;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* --------------------------------

General Style

-------------------------------- */
.cd-intro {
  position: relative;
  height: 70vh;
  width: 100%;
  /* vertically align its content */
  display: table;
  background: #2e416a;
  overflow: hidden;
}

.cd-intro-content {
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5%;
  background: #2e416a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro-content h1 {
  font-size: 2.4rem;
  color: #ffffff;
}
.cd-intro-content p {
  font-family: 'Satisfy', cursive;
  font-size: 10rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 1em 0;
}
.cd-intro-content .action-wrapper {
  display: inline-block;
  z-index: 3;
}
.cd-intro-content .action-wrapper::after {
  clear: both;
  content: "";
  display: table;
  z-index: 3;
}
.cd-intro-content .action-wrapper > * {
  float: left;
}
@media only screen and (min-width: 768px) {
  .cd-intro-content h1 {
    font-size: 5.2rem;
    font-weight: 300;
  }
  .cd-intro-content p {
    font-family: 'Satisfy', cursive;
    font-size: 10rem;
    margin: 1.5em 0 1.9em;
  }
}

.cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  font-size: 1.3rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #202e4a;
  border-radius: .25em;
  margin-right: 1.5em;
}
.cd-btn:nth-of-type(2) {
  margin-right: 0;
}
.cd-btn.main-action {
  background-color: $primary-color;
}
@media only screen and (min-width: 480px) {
  .cd-btn {
    padding: 1.2em 1.6em;
  }
}
@media only screen and (min-width: 768px) {
  .cd-btn {
    padding: 1.4em 1.8em;
  }
}

.cd-intro-content h1,
.cd-intro-content h1 span,
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-intro-content h1, .no-cssanimations
.cd-intro-content h1 span, .no-cssanimations
.cd-intro-content p, .no-cssanimations
.cd-intro-content .cd-btn {
  opacity: 1;
}

logo{
  position: absolute;
  display: block;
  left: 50%;
  top: 10%;
  height: 10cm;
  width: 15cm;
}

/* --------------------------------

Video

-------------------------------- */

.cd-intro.video {
  display: block;
}

.video.cd-intro-content {
  display: block;
  height: 100%;
  position: relative;
}
.video.cd-intro-content * {
  opacity: 1;
}
.video.cd-intro-content .svg-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video.cd-intro-content svg {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.6;
}
.video.cd-intro-content svg.svg-mask {
  /* this is the svg mask used on desktop version */
  display: none;
}
.video.cd-intro-content p, .video.cd-intro-content .action-wrapper {
  position: absolute;
  z-index: 3;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video.cd-intro-content p {
  bottom: calc(50% + 40px);
  margin: 0;
  min-width: 90%;
  color: white;
}
.video.cd-intro-content .action-wrapper {
  top: calc(50% + 120px);
  width: 50vw;
  min-width: 295px;
  z-index: 3;
}
.video.cd-intro-content .cd-btn {
  background-color: rgba(4, 4, 4, 0.4);
}
.video.cd-intro-content .cd-btn.main-action {
  background-color: $primary-color;
}
@media only screen and (min-width: 768px) {
  .video.cd-intro-content svg.svg-mask-mobile {
    display: none;
  }
  .video.cd-intro-content svg.svg-mask {
    display: block;
  }
  .video.cd-intro-content p {
    bottom: calc(40% + 40px);
  }
  .video.cd-intro-content .action-wrapper {
    top: calc(50% + 80px);
    display: -webkit-flex;
    display: flex;
    z-index: 3;
  }
}

.cd-bg-video-wrapper {
  /* background cover video */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../assets/bg-img.jpg) no-repeat center center;
  background-size: cover;
}
.cd-bg-video-wrapper video {
  /* you won't see this element in the html, but it will be injected using js */
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
}
.cd-bg-video-wrapper::after {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  .cd-bg-video-wrapper::after {
    content: 'desktop';
  }
}


/* --------------------------------

Search Form

-------------------------------- */

.search-bar {
  border: 2px solid white;
  border-radius: 0px;
  width: 100%;
  min-width: 250px;
  height: 45px;
  background: white url(../assets/searchicon.png) no-repeat 10px 10px;
  padding-left: 40px;
}
.button {
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 0px 15px 0px 15px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.select-category{
  background: white url(../assets/foodcategory.png) no-repeat 10px 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  color: $primary-color;
  height: 45px;
  text-align: center;
  text-decoration: none;
  font-size: 16px
}
.select-location{
  border: 2px solid white;
  border-radius: 0px;
  min-width: 100px;
  height: 45px;
  background: white url(../assets/locationsymbol.png) no-repeat 10px 10px;
  padding-left: 40px;
}


/* --------------------------------

Quick Services

-------------------------------- */

.quick-services {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
  text-align: center;

}

/*----------------------------------

  Edit-Profile

 -----------------------------------*/

.img-item {
    border-radius: 50%;
    border: 2px solid $primary-color;
    width: 128px;
    height: 128px;

    img {
      object-fit: cover;
    }
}

.button-item{
    align-self: flex-end;
}

#left {
  width: 40%;
  float: left;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-top: 10%;
}

#center{
  float: left;
}

#right {
  float: left;
  padding-left: 10%;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}

.editProfileForm{
  max-width:400px;
  margin:50px auto;
  background:$background-color;
  border-radius:2px;
  padding:20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.editProfileForm h1{
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5C5C5C;
  font-size:x-large;
}
.editProfileForm ul{
  list-style:none;
  padding:0;
  margin:0;
}
.editProfileForm li{
  display: block;
  padding: 9px;
  border:1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
}
.editProfileForm li:last-child{
  border:none;
  margin-bottom: 0px;
  text-align: center;
}
.editProfileForm li > label{
  display: block;
  float: left;
  margin-top: -19px;
  background: $background-color;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.editProfileForm genderProfile,
.editProfileForm input[type="text"],
.editProfileForm input[type="date"],
.editProfileForm input[type="datetime"],
.editProfileForm input[type="email"],
.editProfileForm input[type="number"],
.editProfileForm input[type="search"],
.editProfileForm input[type="time"],
.editProfileForm input[type="url"],
.editProfileForm input[type="password"],
.editProfileForm textarea,
.editProfileForm select
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: $background-color;

}

.editProfileForm inputGender{
  font-family: Georgia, "Times New Roman", Times, serif;
}

.editProfileForm genderProfile:focus,
.editProfileForm input[type="text"]:focus,
.editProfileForm input[type="date"]:focus,
.editProfileForm input[type="datetime"]:focus,
.editProfileForm input[type="email"]:focus,
.editProfileForm input[type="number"]:focus,
.editProfileForm input[type="search"]:focus,
.editProfileForm input[type="time"]:focus,
.editProfileForm input[type="url"]:focus,
.editProfileForm input[type="password"]:focus,
.editProfileForm textarea:focus,
.editProfileForm select:focus
{
}
.editProfileForm li > span{
  background: #b4b4b4;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: $background-color;
  font-family: $font-stack;
  font-size: 11px;
}
.editProfileForm textarea{
  resize:none;
}

#button-add,
.editProfileForm button,
.editProfileForm input[type="submit"],
.editProfileForm input[type="button"]{
  background:$primary-color;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994FF;
  border-radius: 3px;
  color: $background-color;
}

#button-add:hover,
.editProfileForm button:hover,
.editProfileForm input[type="submit"]:hover,
.editProfileForm input[type="button"]:hover{
  background: #6B9FFF;
  color:$background-color;
}

.uploadPhoto{
padding: 15px;
  align-items: center;
}

#editProfile{
  border-bottom: 2px solid gainsboro;
  text-align: left;
  padding-left: 10%;
  font-family: $font-stack;
}

.ownerColumn{
  padding-left: 20px;
  padding-top: 150px;
  text-align: center;
  align-items: center;
}



